html, body {
    font-family: 'Montserrat', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    background-color: #FAFAFA;
}

.badge {
    color: #fff;
    font-weight: normal;
    font-size: 80%;
    height: fit-content;
}
